@import 'tailwindcss';

@layer base {
  html {
    font-synthesis: none;
  }

  :root {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --destructive: oklch(0.704 0.191 22.216);
  }

  .light {
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
